$headerBackground: rgba(196, 205, 255, 0.3);
$bodyBackground: rgba(240, 240, 240, 0.3);
$textColor: rgba(100, 100, 100, 0.3);

@mixin pageSize() {
  max-width: 80%;
  margin: auto;
}

body {
  background: transparent url('/assets/bg.jpg') top center repeat;
  display: table;
  min-width: 100%;
}

h1 {
  color: $textColor;
}

a.whiteLink {
  color: white;
  text-decoration: none;
  transition: color 1s;
  &:hover {
    color: $bodyBackground;
  }
}

header, footer {
  background-color: $headerBackground;
}

main, header, footer {
  @include pageSize();
}

main {
  background-color: white;
}

.small {
 font-size: 70%;
  background-color: $headerBackground;
}

film-detail {
  .genres {

  }
}

.badge {
  span {
    padding: 5px;
    margin-left:5px;
    border-radius: 5px;
  }
}